{{ template "layout.html" . }}

{{ define "title" }}
  {{ if eq .Endpoint "/public" }}
    Public Timeline
  {{ else if eq .Endpoint "/:username" }}
    {{ .ProfileUser.Username }}'s Timeline
  {{ else }}
    My Timeline
  {{ end }}
{{ end }}

{{ define "body" }}
  <h2>{{ template "title" . }}</h2>

  {{ if .User }}
    {{ if eq .Endpoint "/:username" }}
      <div class="followstatus">
      {{ if eq .User.UserID .ProfileUser.UserID }}
        This is you!
      {{ else if .Followed }}
        You are currently following this user.
        <a class="unfollow" href="/{{ .ProfileUser.Username }}/unfollow">Unfollow user</a>.
      {{ else }}
        You are not yet following this user.
        <a class="follow" href="/{{ .ProfileUser.Username }}/follow">Follow user</a>.
      {{ end }}
      </div>
    {{ else if eq .Endpoint "/" }}
      <div class="twitbox">
        <h3>What's on your mind, {{ .User.Username }}?</h3>
        <form action="/add_message" method="post">
          <input type="hidden" name="_csrf" value="{{ .CSRFToken }}">
          <p><input type="text" name="text" size="60">
          <input type="submit" value="Share">
        </form>
      </div>
    {{ end }}
  {{ end }}

  <ul class="messages">
  {{ range .Messages }}
    <li><img src="{{ gravatar .email 48 }}">
      <p>
        <strong><a href="/{{ .username }}">{{ .username }}</a></strong>
        {{ .text }}
        <small>&mdash; {{ datetimeformat .pub_date }}</small>
      </p>
    </li>
  {{ else }}
    <li><em>There's no message so far.</em></li>
  {{ end }}
  </ul>
{{ end }}
