# Rename this file to terraform.tfvars
digitalocean_token = "" # DigitalOcean Access Key

ssh_vars = {
    secret_key_path = ""
    username        = ""
}

docker_vars = {
    db_user         = ""
    db_password     = "" # The admin user's password
    db_port         = "5433"
    db_name         = ""
    docker_username = ""
}